parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''document'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Hydrate\\HydrateSearchResult\:\:hydrate\(\) should return Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\<T of object\> but returns Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\<array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Hydrate\\HydrateSearchResult\:\:hydrate\(\) should return Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\<T of object\> but returns Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\<array\<string, mixed\>\|T of object\>\.$#'
			identifier: return.type
			count: 2
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Search/Hydrate/HydrateSearchResult.php

		-
			message: '#^Cannot access offset ''document'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Search/Results/SearchResults.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResults\:\:getFacetCounts\(\) should return array\<array\{field_name\: string, sampled\: bool, stats\: array\{total_values\: int\}, counts\: array\<array\{count\: int, value\: string, highlighted\: string\}\>\}\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Search/Results/SearchResults.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResults\:\:getIterator\(\) should return Traversable\<string, array\<string, mixed\>\> but returns ArrayIterator\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Search/Results/SearchResults.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Search/Results/SearchResults.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\:\:getFacetCounts\(\) should return array\<array\{field_name\: string, sampled\: bool, stats\: array\{total_values\: int\}, counts\: array\<array\{count\: int, value\: string, highlighted\: string\}\>\}\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Search/Results/SearchResultsHydrated.php

		-
			message: '#^Method Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResultsHydrated\:\:getIterator\(\) should return Traversable\<int\|string, T\> but returns ArrayIterator\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Search/Results/SearchResultsHydrated.php

		-
			message: '#^Parameter \#1 \$data of class Biblioteca\\TypesenseBundle\\Search\\Results\\SearchResults constructor expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Search/Search.php
