parameters:
    tipsOfTheDay: false
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
           message: '#(.*)#'
           path: src/AbstractBibliotecaTypesenseBundle.php
includes:
	- phpstan-baseline.neon